.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre {
  font-size: 30px;
  text-align: center;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-variant-caps: all-small-caps;
}

.separation-horiz {
  border-bottom: 4px solid black;
  margin-bottom: 20px;
}

.separation-verti {
  width: 5px;
  border-left: 4px solid black;
  height: 500px;
  margin: 0px 150px;
}

.profil {
  font-size: 1.5rem;
  border: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 20px;
}


.ajouterliste {
  font-size: 1.5rem;
  border: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.nouv {
  font-size: 1.5rem;
  border: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.menu {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
   display: flex; 
  background-color: #ce9c9c;
}

.container {
  width : 25%;
  background-color:#ce9c9c ;
  align-items: center;
  border-radius: 10px;
  height: 100%;
  
}

.emplacement_liste {
  float: right;
  width: 75%;
  height: 500 px;
  border-radius: 10px;
  /*border: 1px solid black;*/

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #F3E6E1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


div.center button+input {
  margin-left: 20px;
}

[placeholder]{
  font-style: italic;
}

form.center label+input{
  display: flex;
  align-items: center;
  
}
.nonep + .page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  overflow: auto;

} 
/*Ca sert à quoi ça*/

/*.page .child {
  width: 50%;
} */

.liste {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  /* espace entre le contenu et la bordure */
  border: 3px solid;
  border-radius: 10px;
  background-color: #e5e1dc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  position: relative;
  background-color:#ce9c9c ;
  border-color : #6d071a;
}

.liste h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #333;
}

.liste button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: #6d071a;
  color: white;
  text-align: center;
  cursor: pointer;
}
.abs{
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0px;
  border: 5px solid #6d071a;
  border-radius: 10px;
  /*border: 1px solid black;*/
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color : #6d071a ;
  background-color: #ce9c9c ;
}

.epingles{
  margin-left : 10px;
  background-color:#6d071a  ;
  border: 10px;
  width: 100%;
  color: #ce9c9c;
}
/* pour les aliments ajoutés */ 
.liste .list-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #d3bbbb;
  border-radius: 8px;
}

/* pour la fenêtre contextuelle 'pop' */ 
.pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* avec ces trois lignes je la place au milieu */
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  z-index: 1000; /* superpose au dessus de tt élt */
  display: none;
}

/* pr le formulaire, les champs à remplir */ 
.pop input, .pop textarea {
  display: block; /* chq champ occupe une ligne */
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; /* ne dépasse pas les bordures, donc la taille spécifiée */
}

/* pour le bouton 'ajouter' */
.pop button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ce9c9c;
  color: white;
  cursor: pointer;

}